
/* So Ive clearly added a fuck ton of stuff. Just because I put it on there doesnt mean thats how I think it
should be on the final website (obviously, we just starting) but I just tried to experiment with a bunch of stuff
to see what looks good and what doesnt. Buttons are active so hover over them. I know it is super colorful,
but whatever. Gimme your feedback whenever you open this.*/

/*NAVIGATION BAR*/

#logotopleft {
  display: inline-block;
  color: #ff9933;
  line-height: 0px;
  font-size: 24px;
  height: 80px;
  width: 250px;
  line-height: 50px;
  margin-top: -5px;
  background-image: url(http://images.cooltext.com/3220296.png);
  background-size: 100% 100%
}

#head {
  margin-bottom: -20px;
}

.container {
  float: right;
  margin-right: 200px;
  width: 500px;
  text-align: center;
  display: inline-block;
}

.container > .button { margin: 0 12px; }

.button.active:hover {
  -ms-transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}

.button {
  display: inline-block;
  vertical-align: top;
  height: 28px;
  padding: 0 25px;
  font-family: serif;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: 2px solid;
  border-color: black;
  border-radius: 25px;
}

.button:active, .button.active {
  line-height: 28px;
  color: black;
  border-color: #1c1c1c #202020 #222;
  background: rgb(246,230,180); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,230,180,1)), color-stop(100%,rgba(237,144,23,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}

#searchbardiv {
  text-align: center;
  float: right;
  margin: -78px 0 0 0;
  display: inline-block;
}

#searchbarform {
  position: relative;
  display: inline-block;
  margin: 20px auto;
}

input {  outline: none }
input[type="text"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 20px;
  border: 2px solid black;
  width: 170px;
  padding: 3px 23px 3px 8px;
}

input[type="reset"] {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAGFBMVEUAAAC/v7+/v7+/v7+/v7+/v7+/v7+/v7+hAPa4AAAAB3RSTlMAQNCwkKDgPaU3lgAAAEZJREFUeNplj9EKACAIA2dm+/8/bkj4sI6wDsIpRCRFBprNxx4bD12LrwRSDxRZkCcoCqVDIW1v+9Q+W6sOOhNkY9iQtsIFhO0DtcbsWN0AAAAASUVORK5CYII=');
  width: 14px;
  height: 14px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 0;
  text-indent: -999px;
  position: absolute;
  right: 8px;
  top: 7px;
  cursor: pointer;
}

input[type="text"]:invalid {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAIVBMVEW/v7+/v78AAAC/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v79QUkolAAAAC3RSTlOLYAAJeoMjRhpOcbsbtd4AAABJSURBVHjaVc1JDsAgDATB9uAF8v8Hx0QcSN9KssZI5eClDj18PRsFlmlQDcfUGd6A3EgYP1xncQ+sa5qYOk9jRQt1Y0izhU5bL2o2AW3ZQKeJAAAAAElFTkSuQmCC) 10px 6px no-repeat;
}
input[type="text"]:invalid + input[type="reset"] {
  visibility:hidden;
}

/*HOMEPAGE*/

body {
  background-color: black;
  /*background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJvwsX5jichT_UPf5pE1wHW_QxBvqFDc1vnHWnqquDFIGxzDpXXg);
  */
}

#homeorganization {
  background-image: url(http://images.psxextreme.com/wallpapers/ps3/color_spectrum_635.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  clear: both;
  text-align: center;
  border-radius: 10px;
  padding:50px;
}

#rowthree {
}

#rowtwo {
  margin-bottom: -20px;
}

#rowone{
  margin: 20px 20px -40px 20px;
}

#title {
 opacity: 0;
}

#edmbutton{
  font-size: 50px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  border: 4px solid black;
  border-radius: 100%;
  text-align: center;
  line-height: 200px;
  display: inline-block;
  background-image: url(http://kickkicksnare.com/wp-content/uploads/2013/05/Carlo-Astuti-Get-Lucky-remix.jpg);
  background-size: 100% 100%;
}

.maincategory {
  font-weight: bold;
  color: black;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  background-size: 100% 100%;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  background: rgb(180,227,145); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* IE10+ */
  background: linear-gradient(45deg,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}

.maincategorytexthover {
  height: 80px;
  width: 100px;
  padding-top: 20px;
  color: black;
}

.maincategory:hover {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHxH6WN1nu6v0oN2lbfV3BGoX64xe2R6iulw6ziK0cBEcNHXqG4w);
  background-size: 100% 100%;
  border: 1px white solid;
  color: white;
}

.maincategory:hover .maincategorytexthover {
  -ms-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  color: white;
}

#originalbutton{
  /*background-image: url(http://s3.amazonaws.com/rapgenius/daft-punk-get-lucky-612x612.jpg);*/
}

#bootlegbutton{
  margin-right: 20px;
  /*background-image: url(http://livedesignonline.com/site-files/livedesignonline.com/files/archive/livedesignonline.com/projects/top-concert-designs/DaftPunk-w500.jpg);*/
}

#artistbutton{
  margin-right: 240px;
  /*background-image: url(http://www.chartattack.com/wp-content/uploads/2013/04/Daft-Punk-Get-Lucky.jpg);*/
}

#livesetbutton{
  /*background-image: url(http://cdn.salacioussound.com/wp-content/uploads/2013/05/daft_punk_by_endosage1.png);*/
}

#remixbutton{
  margin-left: 20px;
  /*background-image: url(http://kickkicksnare.com/wp-content/uploads/2013/05/Carlo-Astuti-Get-Lucky-remix.jpg);*/
}


#featuredplaylist {
  width: 40%;
  background-color: white;
  float: left;
  border: #ff9933 solid 2px;
  border-radius: 5px;
  height: 400px;
  overflow: auto;
  display: inline-block;
  margin: 50px 0 0 50px;
}

#featuredvideo {
  width: 40%;
  background-color: white;
  float: right;
  border: #ff9933 solid 2px;
  border-radius: 5px;
  height: 400px;
  overflow: auto;
  display: inline-block;
  margin: 50px 50px 0 0;
}


/*MUSIC PAGE*/

#musicnavbar{
  height: 60px;
  width: 40%;
  /*border: white solid 1px;*/
  display: block;
  text-align: center;
  /*background-color: #ff9933;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.musicnavsub{
  text-align: center;
  height: 50px;
  width: 80px;
  border: black solid 1px;
  background-color: #ff9933;
  color: black;
  display: inline-block;
  margin: 4px 0 0 4px;
}

#musiccontent{
  width: 60%;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  border: white solid 1px;
  background-color: white;
  opacity: 0.5;
  overflow: auto;
}

.musicnavsub:hover {
  background-color: black;
  color:white;
  border: white 1px solid;
  border-radius: 5px;
}

.music:active {
  background-color: red;
}


/*ABOUT US PAGE*/


h3 {
  color: #ff9933;
}

#aboutustext{
  background: rgb(73,155,234); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(73,155,234,1) 0%, rgba(32,232,39,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,232,39,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(73,155,234,1) 0%,rgba(32,232,39,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(73,155,234,1) 0%,rgba(32,232,39,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(73,155,234,1) 0%,rgba(32,232,39,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(73,155,234,1) 0%,rgba(32,232,39,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#20e827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: white solid 2px;
  border-radius: 10px;
  width: 80%;
  overflow: auto;
  display: inline-block;
  margin: 50px 0px 50px 100px;
  padding: 0 20px 0 20px;
}


#aboutusbackground{
  background-image: url(http://images.psxextreme.com/wallpapers/ps3/color_spectrum_635.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  clear: both;
  border-radius: 10px;
  overflow: auto;
}


/*FOOTER*/

.footerwebsitename {
  clear: both;
  float: left;
  line-height: 45px;
  margin-top: 15px;
  display: inline-block;
  font-size: 14px;
  color: #ff9933;
}


.footertext{
  clear: both;
  margin-left: 36.5%;
  line-height: 45px;
  margin-top: 15px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: #ff9933;
}
